<!DOCTYPE html>
<html>
  <head>
        <!-- Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P6635QH7MW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P6635QH7MW');
    </script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Robot Wars</title>
    

  </head>

  <body>
  <body style="background-color:lightblue;">

<div align="center" ;="">
  
        <h1 style="font-size:40px">Battle of the BOTS</h1><br>
        <h2> Welcome to the Biggest Battle of the Year</h2>

        <h1 style="font-size:25px"></h1>
        <center>
  					<ul class="actions">
						<!-- <li><a href="#" class="button primary icon solid fa-download">Download</a></li> -->
            <li><a href="/" class="button">Play Again</a></li>
            <li><a href="https://Module-2-Assignment.damboson.repl.co" class="button">Home Page</a></li>
           
					</ul></center>

<table>
  <tr>
    <th>Round of 16</th>
    <th>Semi finalist</th>
    <th>Quarter Finalist</th>
    <th>finalist</th>
    <th></th>
    <th>Winner</th>
    <th></th>
    <th>Finalist</th>
    <th>Quarterfinalist</th>
    <th>Semi Finalist</th>
    <th>Round of 16</th>

 
  </tr>
  <tr>
    <td><img src="https://robohash.org/{{player1}}" width="75">{{player1}}:0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{player9}}" width="75">{{player9}}:1</td>
    
  </tr>
  <tr>
    <td></td>
    <td><img src="https://robohash.org/{{m1w}}" width="75">{{m1w}}:1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{m5w}}" width="75">{{m5w}}:1</td>
    <td></td>
  </tr>
  <tr>
    <td><img src="https://robohash.org/{{player2}}" width="75">{{player2}}:1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{player10}}" width="75">{{player10}}:0</td>
    
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{sf1w}}" width="75">{{sf1w}}:1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{sf3w}}" width="75">{{sf3w}}:0</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><img src="https://robohash.org/{{player3}}" width="75">{{player3}}:1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{player11}}" width="75">{{player11}}:1</td>
    
  </tr>
  <tr>
    <td></td>
    <td><img src="https://robohash.org/{{m2w}}" width="75">{{m2w}}:0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{m6w}}" width="75">{{m6w}}:1</td>
    <td></td>
  </tr>
    <tr>
    <td><img src="https://robohash.org/{{player4}}" width="75">{{player4}}:1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{player12}}" width="75">{{player12}}:0</td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="https://robohash.org/{{qf1w}}" width="75">{{qf1w}}1</td>
      <td></td>
      <td><center><img src="https://robohash.org/{{winner}}" width="75"><p><p><p>The Robot Battle Winner Is</p></p></p></center><center>{{winner}} with 1 Points</center></td>
      <td></td>
      <td><img src="https://robohash.org/{{qf2w}}" width="75">{{qf2w}}:1</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <tr>
    <td><img src="https://robohash.org/{{player5}}" width="75">{{player5}}:0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{player13}}" width="75">{{player13}}:1</td>
    
    </tr>
    <tr>
      <td></td>
      <td><img src="https://robohash.org/{{m3w}}" width="75">{{m3w}}:1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="https://robohash.org/{{m7w}}" width="75">{{m7w}}:1</td>
      <td></td>
    </tr>
    <tr>
    <td><img src="https://robohash.org/{{player6}}" width="75">{{player6}}:0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{player14}}" width="75">{{player14}}:0</td>
    
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{sf2w}}" width="75">{{sf2w}}:1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{sf4w}}" width="75">{{sf4w}}:0</td>
    <td></td>
    <td></td>
  </tr>
      <tr>
    <td><img src="https://robohash.org/{{player7}}" width="75">{{player7}}1:</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{player15}}" width="75">{{player15}}:1</td>
    
  </tr>
  <tr>
    <td></td>
    <td><img src="https://robohash.org/{{m4w}}" width="75">{{m4w}}:1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{m8w}}" width="75">{{m8w}}:1</td>
    <td></td>
  </tr>
  <tr>
    <td><img src="https://robohash.org/{{player8}}" width="75">{{player8}}:0</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><img src="https://robohash.org/{{player16}}" width="75">{{player16}}:1</td>
    
  </tr>
</table>

            <center>
  					<ul class="actions">
						<!-- <li><a href="#" class="button primary icon solid fa-download">Download</a></li> -->
            <li><a href="/" class="button">Play Again</a></li>
            <li><a href="https://Module-2-Assignment.damboson.repl.co" class="button">Home Page</a></li>
           
					</ul></center>
  
    
    <br><br>
    
    
    <br><br>
    
    
    <br><br>
    
    <script src="script.js"></script>
    <script src="static/snow.js"></script>




    </center>
  </body>

</html